@import '~sass-mq';
@import './variables.scss';

.siteWidth {
  max-width: $maxContentWidth;
  margin: 0 auto;

  @include mq($from: medium) {
    padding: 0 15px;
  }
}

body {
  background: url("../img/asteroids.jpg");
  background-repeat: repeat;
  color: $clrTx;
  font-size: 16px;
  height: 100vh;
}

#root { height: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #FFF;
}

h1 {
  font-size: 1.5rem;
}