@import '~sass-mq';
@import './fonts.scss';
@import './variables.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.siteWidth {
  max-width: $maxContentWidth;
  margin: 0 auto;

  @include mq($from: medium) {
    padding: 0 15px;
  }
}

body {
  background: url("../img/asteroids.jpg");
  background-repeat: repeat;
  color: $clrTx;
  height: 100vh;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/dot-bg.png");
    background-repeat: repeat;
    opacity: 0.25;
    z-index: -1;
  }  
}

#root { height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  color: #FFF;
}

h1 {
  font-size: 1.5rem;
}