// http://devfacts.com/media-queries-breakpoints-2020/
$mq-breakpoints: (
  small: 420px,
  medium: 768px,
  large: 992px,
  xLarge: 1200px,
);

$maxContentWidth: 1100px; // TODO: make 1440 later!!;

$clrTx: #a0a7ab;