@import '~sass-mq';
@import 'styles/variables.scss';

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.App {
  display: grid;
  grid-template-rows: fit-content(500px) auto;
  height: 100%;
  margin: 0 auto;

  #mainHeader {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 10px;

    @include mq($from: medium) {
      padding: 20px 0;
    }    
    
    & > div {
      display: flex;

      h1 {
        font-family: 'retrogaming', sans-serif;
        font-weight: 600;
        margin: 0;
        line-height: 1;
        flex: 1;
      }

      nav {
        display: flex;

        & > button {
          margin-right: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: fill 0.6s linear;

          svg {
            fill: $clrTx;

            &:hover {
              fill: #FFF;
            }
          }
        }

        .btnPlayPause {
          width: 25px;
          height: 25px;

          &.btnPlay {
            border: 1px solid $clrTx;
            border-radius: 50%;
            transition: border 0.6s linear;

            svg {
              position: relative;
              left: 1px;
            }

            &:hover {
              border-color: #fff;
            }
          }
        }
      }
    }
  }

  main {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 80px 40px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "tetris tetris tetris tetris tetris tetris"
      "high-score high-score score score level level"
      "nav nav nav nav nav nav";
    
    #tetris {
      grid-area: tetris;
      align-self: end;

      & > div {
        margin: 0 auto;
        background-color: #000;
        border: 2px solid rgba(22, 144, 181, 0.25);
        border-top: none;
        box-sizing: border-box;
      }
    }

    #tetris-level {
      grid-area: level;
    }

    #tetris-score {
      grid-area: score;
      background-color: green;
    }

    #tetris-high-score {
      grid-area: high-score;
      background-color: yellow;
    }

    & > nav {
      grid-area: nav;
      background-color: white;

      p {
        margin: 0;
      }
    }

    @include mq($from: medium) {
      grid-template-rows: repeat(4, 1fr) minmax(41px, 82px) minmax(41px, 82px);
      grid-template-columns: minmax(82px, 1fr) 2fr minmax(82px, 1fr);
      grid-template-areas:
        ". tetris ."
        ". tetris ."
        ". tetris ."
        ". tetris ."
        "level tetris score"
        "level tetris high-score";
      column-gap: 10px;

      #tetris-level {
        justify-self: end;
      }
    }
  }
}