@import 'styles/variables.scss';

.AsideBox {
  position: relative;  
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  height: 100%;
  max-width: 250px;
  min-width: 200px;
  display: flex;
  flex-flow: column;

  h1 {
    padding: 15px;
    font-size: 1.22rem;
    letter-spacing: .015rem;
    text-transform: uppercase;
    line-height: 1;
    // todo: why is the h1 obscuring the parent border-radius?;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    overflow: hidden;
    margin: 0;

    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      top: calc(50% - 2px);
      background-color: $clrSecondary;
      margin-left: 15px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("../img/diag-bg2.png");
      background-repeat: repeat;
      opacity: 0.25;
    }
  }

  .AsideBox-content {
    padding: 0 10px;
    flex: 1;
  }

  // TODO: add diag line texture...?
  .AsideBox-progressBar {
    height: 10px;
    background-color: $clrSecondary;;
  }
}